/home/wojtek/Projects/homework/git-kata/.idea/.name
/home/wojtek/Projects/homework/git-kata/.idea/compiler.xml
/home/wojtek/Projects/homework/git-kata/.idea/encodings.xml
/home/wojtek/Projects/homework/git-kata/git-kata.iml
/home/wojtek/Projects/homework/git-kata/.idea/misc.xml
/home/wojtek/Projects/homework/git-kata/.idea/modules.xml
/home/wojtek/Projects/homework/git-kata/.idea/copyright/profiles_settings.xml
/home/wojtek/Projects/homework/git-kata/.idea/scopes/scope_settings.xml
/home/wojtek/Projects/homework/git-kata/.idea/uiDesigner.xml
/home/wojtek/Projects/homework/git-kata/.idea/vcs.xml
